{% extends "layout.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block content %}

<div class="w-100">
  <div class = "row">
    <div class = "col">
      <h5>You are viewing: {{ scout['tech_name']}} </h5>
      <p><small><font color="grey">Latest scout/edit by {{ scout['username'] }} at {{ scout['scout_time_dt'] }}</font></small></p>
    </div>
    <div class = "col">
      <div class="btn-group btn-group-sm pull-right mt-1" role="group">
        {% if mode == 'edit' %}
          <a href="{{ url_for('commit_scout', log_id = scout['log_id']) }}" role="button"  class="btn {% if user['can_edit'] == 0 or scout['change_committed'] %}  btn-outline-secondary disabled {% else %} btn-outline-info {% endif %} ">Confirm & Commit</a>
        {% else %}
          <a href="{{ url_for('tech_analytics', tech=scout['tech_name']) }}" role="button"  class="btn btn-outline-info ">Analysis & Add Stories</a>
        {% endif %}
        <a href="{{ url_for('task_board_a') }}" role="button"  class="btn   btn-outline-info  pull-right">Back to the Taskboard</a>
      </div>
    </div>
  </div>

<div class="w-100">
          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Associate Names: </b>
                  <p><small><font color="grey">{{ scout['asso_names'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'asso_names', idcol = 'log_id', row_id = scout['log_id'], type = 'Textlist', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>
              </div>
              {% endif %}
            </div>
          </div>

          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Wikipedia Link: </b>
                  <p><small><font color="grey">{{ scout['wiki_link'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'wiki_link', idcol = 'log_id', row_id = scout['log_id'], type = 'Text', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>

              </div>
              {% endif %}
            </div>
          </div>



          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Category: </b>
                  <p><small><font color="grey">{{ scout['category'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'category', idcol = 'log_id', row_id = scout['log_id'], type = 'Category', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>

              </div>
              {% endif %}
            </div>
          </div>


          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Description: </b>
                  <p><small><font color="grey">{{ scout['description'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'description', idcol = 'log_id', row_id = scout['log_id'], type = 'Text', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>

              </div>
              {% endif %}
            </div>
          </div>

          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Embedded Technology: </b>
                  <p><small><font color="grey">{{ scout['emb_techs'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'emb_techs', idcol = 'log_id', row_id = scout['log_id'], type = 'Textlist', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>

              </div>
              {% endif %}
            </div>
          </div>

          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Built Environment Impact: </b>
                  <p><small><font color="grey">{{ scout['impact'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'impact', idcol = 'log_id', row_id = scout['log_id'], type = 'Text', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>

              </div>
              {% endif %}
            </div>
          </div>


          <div class = "content-section">
            <div class = "row">
              <div class = "col">
                  <b>Sources: </b>
                  <p><small><font color="grey">{{ scout['desc_source'] }}</font></small></p>
              </div>
              {% if user['can_edit'] == 1 %}
              <div class = "col">
                <a href="{{ url_for('update_entry', table = 'tech_main_log', colname = 'desc_source', idcol = 'log_id', row_id = scout['log_id'], type = 'Text', mode = mode) }}" role="button"  class="btn-outline-info pull-right mt-1">Edit</a>
              </div>
              {% endif %}
            </div>
          </div>

  </div>





</div>

{% endblock content %}
